.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* --- New Footer --- */
.footer {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  /* border-white/5 */
  background-color: var(--md-sys-color-background);
  padding: 48px 24px 24px;
}



.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 16px;
  border-top: 1px solid rgba(68, 71, 70, 0.3);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: var(--md-sys-color-outline);
  font-size: var(--font-size-label-large);
}

@media (min-width: 768px) {
  .footer-row {
    flex-direction: row;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  color: inherit;
  transition: color var(--md-sys-motion-duration-short) ease;
  cursor: pointer;
}

.footer-link:hover {
  color: var(--md-sys-color-on-surface);
}

/* Easter Egg I'm feeling lucky */
.lucky-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all var(--md-sys-motion-duration-short) ease;
}

.lucky-btn span {
  transition: color var(--md-sys-motion-duration-short) ease;
}

.lucky-btn:hover span:first-child {
  animation: bounce 1s infinite;
  color: var(--google-green);
}

.lucky-btn:hover span:last-child {
  color: var(--google-green);
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }
}